node_modules
.pnpm-store

dist
build

.git
.gitignore
README.md
.env.local
.env.development
.env.test

.vscode
.idea
*.swp
*.swo
*~

*.log
logs

.DS_Store
Thumbs.db

coverage

cypress/videos
cypress/screenshots

.nyc_output
.cache